// .section-project {
//   // background-color: $color-grey-light-1;
// }

.project {
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    justify-content: space-evenly;
    align-content: space-around;
  }
}

.flip-card {
  background-color: transparent;
  height: calc(22vw * 1.75);
  width: 22vw;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 3rem;
  border-radius: $border-radius;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  @media only screen and (max-width: $bp-1200) {
    margin-bottom: 5rem;
  }

  @include respond(tab-land) {
    height: calc(22vw * 3.5);
    width: 22vw;
    // display: flex;
    // flex-direction: column;
  }

  @include respond(tab-port) {
    height: calc(33vw * 2.5);
    width: 33vw;
    margin-bottom: 6rem;
  }

  @include respond(phone) {
    height: calc(55vw * 2.5);
    width: 55vw;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-animation-iteration-count: rotateY(180deg);
  transform: rotateY(180deg);

  @include respond(tab-land) {
    -webkit-animation-iteration-count: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

.flipper {
  -webkit-animation-iteration-count: rotateY(180deg);
  transform: rotateY(180deg);
}

.unflipper {
  -webkit-animation-iteration-count: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  @include respond(tab-land) {
    position: relative;
    width: 100%;
    height: 50%;
    -webkit-backface-visibility: visible; /* Safari */
    backface-visibility: visible;
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(242, 239, 239);
  color: black;
}

/* Style the back side */
.flip-card-back {
  // background-color: dodgerblue;
  color: white;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);

  @include respond(tab-land) {
    color: transparent;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

.flip-card-sum {
  font-size: 1.3rem;
  height: 60%;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.7),
    rgba($color-grey-dark-3, 0.8)
  );
  background-attachment: fixed;
  background-size: cover;
  color: $color-grey-light-1;
  ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    li {
      text-align: left;
      font-size: 1.4rem;
      padding: 0.75rem;

      @media only screen and (max-width: $bp-800) {
        font-size: 1.3rem;
        padding: 0.5rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }
}

.flip-card-title {
  // margin-bottom: 1rem;
  padding: 1rem;
}

.flip-card-back-title {
  margin-top: 2rem;
  color: $color-primary-dark;
  @include respond(tab-land) {
    display: none;
  }

  // padding: 2rem;
}

.flip-card-picture {
  background-size: cover;
  height: 40%;
  background-blend-mode: screen;
  overflow: hidden;
  // border-radius: $border-radius;

  &--1 {
    background-image: url(/img/devcon.jpg);
  }
  &--2 {
    background-image: url(/img/githubfinder.jpg);
  }
  &--3 {
    background-image: url(/img/budgetApp.jpg);
  }

  &--4 {
    background-image: url(/img/recipeApp.jpg);
  }

  &--5 {
    background-image: url(/img/contactkeeperB.jpg);
  }

  &--6 {
    background-image: url(/img/nexter.jpg);
  }
  &--7 {
    background-image: url(/img/newtech.jpg);
  }

  &--8 {
    background-image: url(/img/clickPlane.jpg);
  }

  @include respond(tab-land) {
    height: calc(30vs * 0.4);
    // width: 30vw;
    // position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @include respond(phone) {
    height: calc(55vw * 0.6);
  }
}

.flip-card-back-detail {
  background-color: $color-grey-light-1;
  height: 85%;
  // padding: 2rem;
  padding-top: 1rem;

  ul {
    padding: 2rem;
    text-align: left;
    color: black;
    list-style: none;
    font-size: 1.4rem;

    // @media only screen and (max-width: $bp-1400) {
    //   font-size: 1.3rem;
    // }

    // @media only screen and (max-width: $bp-1200) {
    //   font-size: 1.8rem;
    // }

    @media only screen and (max-width: $bp-1000) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-900) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: $bp-800) {
      font-size: 1.4rem;
    }
    // @media only screen and (max-width: $bp-700) {
    //   font-size: 1.9rem;
    // }

    // @media only screen and (max-width: $bp-500) {
    //   font-size: 1.5rem;
    // }

    li {
      text-decoration: none;
      margin-bottom: 1rem;
    }
  }
}

.flip-card-buttons {
  // padding: 1rem;
  background-color: $color-grey-light-1;
  height: 15%;
}

.flip-btn--app,
.flip-btn--code {
  display: block;
  padding-top: 0.5rem;
  text-decoration: none;
  color: white;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 0;

  @media only screen and (max-width: $bp-1000) {
    font-size: 1.2rem;
  }

  @media only screen and (max-width: $bp-900) {
    font-size: 1.6rem;
  }
}

.flip-btn--app {
  background-color: $color-primary-light;
  // height: 50%;
  // line-height: 100%;
  // border-bottom: 1px solid white;
  // vertical-align: middle;
  // text-align: center;

  // margin: 0;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.flip-btn--code {
  background-color: $color-primary-dark;
  // height: 50%;
  // line-height: 100%;

  // margin: 0;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
