.skills {
  &__chart {
    width: 90%;
    margin: 0 auto;
  }
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
* {
  box-sizing: border-box;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

// ul {
//   li {
//     line-height: 2;
//     // line-height: 1;
//     font-weight: bold;
//     font-size: 1.6rem;
//     text-transform: uppercase;
//     clear: both;
//     &:before {
//       content: '\2023';
//       padding: 0 1em 0 0;
//     }
//   }
// }
.bar {
  background: $color-chart-bar;
  width: 0;
  margin: 0.25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
  &:nth-of-type(2n) {
    background: lighten($color-chart-bar, 10%);
  }
  .label {
    // font-size: 0.75em;
    font-size: 1.5rem;
    padding: 1rem;
    background: $color-chart-label;
    width: 15rem;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    // font-family: $fontSans;
    &.light {
      background: lighten($color-chart-label, 10%);
    }
  }
}
.count {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  // font-size: 1.4rem;
}

.skills-chart-title {
  font-size: 2rem;
  color: $color-grey-light-1;
  // margin-bottom: 1rem;
  // margin-top: 2rem;
  margin: 2rem auto 1rem -3rem;
}

.skills-heading {
  color: $color-grey-light-1;
}
