// colors

$color-primary: #52a099;
$color-primary-light: #81bab4;
$color-primary-dark: #4e7d78;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-header-light: #204c4d;
$color-header-dark: #022022;

$color-theme-light: #81bab4;
$color-theme-dark: #4e7d78;

$color-chart-label: #0e7271;
$color-chart-bar: #1c302e;

// Font sizes

$default-font-size: 1.6rem;
$medium-font-size: 1.2rem;

// Grid

$grid-width: 150rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Misc

$border-radius: 5px;

// media query break point variables  must be in scss not css variables to work

$bp-1200: 75em;
$bp-1100: 68.75em;
$bp-1000: 62.5em;
$bp-900: 56.25em;
$bp-600: 37.5em;
$bp-500: 31.25em;
